body{
    font-family: Arial, Helvetica, sans-serif;
}
.sm{
    font-size: .875rem;
}
.ft-sub{
    vertical-align: sub;
}
.bg-img{
    position: absolute;
    z-index: -1;
    width: 40%;
    height: auto;
}

@media (min-width: 992px){
    .bg-img{
        width: 100%;
    }
}

/* ing strip */
.ing-strip{
    border: 1px solid #e4e4e4;
    height: 80px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #000;
    margin-bottom: 1rem;
}

.ing-strip.ing-strip-wrapper .bg-img img{
    /* left: -180px !important; */
    /* top: -56px !important; */
    max-width: 300px;
    max-height: 100px;
}

.input-amt{
    width: 80%;
    height: 40px;
    font-size: 1.5rem;
    text-align: center;
}

.ing-title{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1.2rem;
    text-align: center;
}

.ing-weight > span{
    padding-right: .4rem;
}

.ing-weight{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1.2rem;
    margin-left: -15px;
}

.ing-total{
    font-size: 1.6rem;
    font-weight: 600;
}